* {
    margin: 0px;
    padding: 0px;
}

.areaTrabalho {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    max-width: 700px;
    max-height: 80vh;
    width: 70%;
}

.areaTrabalho div{
    border: 1px solid white;
    background-color: rgb(241, 236, 236);
    aspect-ratio: 1;
}

#areaPixelArt {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    aspect-ratio: 1.5;
}

#menu-drawPage {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;
    justify-content:space-evenly;
    
}

#gridButton {
    background-color: rgb(40, 13, 46);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
    transition: background 1s;
}

#gridButton:hover {
    background-color: rgb(231, 89, 89);
}

#cor {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

input[type="color"] {
	-webkit-appearance: none;
    background-color: white;
	border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}