*{
    margin: 0;
    padding: 0;
}

/*Rolar para a sessão*/
html {
    scroll-behavior: smooth; 
}

/*Responsividade com a tela cheia (imagem sólida)*/
@media only screen and (max-width: 480px) {
    img {
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content:space-around;
    }
  }
  
/*Menu*/
#menu-horizontal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    background-color: rgb(40, 13, 46);
    }

#menu-horizontal ul {
    list-style: none; /*tira os marcadores*/
    padding: 0;
    background-color: rgb(39, 11, 53);
    text-align:right; /*alinhar os elementos*/
   
}

#menu-horizontal ul li {
    display: inline-block; /*ficar em uma linha (e não colunas)*/
    }

#menu-horizontal ul li a {
    font-family: 'VT323', monospace;
    font-size: 25;
    color: rgb(255, 255, 255);
    text-decoration: none; /*tira o sublinhado*/
    padding: 22px;
    display: inline-block; /*cria um bloco com o padding informado*/
    transition: background 1s; /*efeito de fade combinado com o hover*/
    }

#menu-horizontal ul li a:hover {
    background-color: rgb(231, 89, 89);
    opacity: 0.5; 
}
